# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Code Composer Studio Stuff
Release/*
.xdhelp*
.config/*
.launches/*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Eclipse artifacts
firmware/.jxbrowser-data/
firmware/.jxbrowser-data/Cache/
firmware/.jxbrowser-data/GPUCache/
firmware/.jxbrowser-data/Local Storage/
firmware/.jxbrowser-data/Local Storage - EXT/
firmware/.metadata/
firmware/.metadata/.plugins
firmware/.metadata/**/*.xlm
firmware/.metadata/**/*.txt
firmware/.metadata/**/*.log
firmware/.metadata/**/*.markers
firmware/.metadata/**/*.tree
firmware/.metadata/**/*.*
firmware/.metadata/*/*/*/*/*
firmware/RemoteSystemsTempFiles
*.map
*.out
*.obj
